 @page "/userReservation"
@using ServiceReference1
@using UserReservationServiceReference
@using UserTicketServiceReference
@using WSProjectClient.Controllers
@using PlaneServiceReference
@using WSProjectClient.Data
@using FlightServiceReference
@using WSProjectClient.Models

@inject UserInfo userInfo
@inject IJSRuntime JSRuntime
 
@rendermode InteractiveServer


<PageTitle>UserReservation</PageTitle>


<h1>Flight reservations</h1>

   @if(userInfo.UserId!=0)
    {
    <h1>User: @userInfo.Username ID: (@userInfo.UserId)</h1>
    }
@* <button type="button" class="btn btn-primary" @onclick="ChangeToAdd" style="margin-top: 15px">Add Reservation</button>


*@
@{
    if (addReservation)
    {
        <h1>Add a reservation</h1>

        <form>


            <div class="form-group">
                <label for="Flight">Flight</label>
                <select class="form-control" @bind="@flightId">
                    @foreach (var flight in flights)
                    {
                        // <option value="@flight.Id"> @flight.Arrival.City </option>
                        <option value="@flight.Id"> @flight.Arrival.City -> @flight.Destination.City (@flight.FlightDate.Date)</option>
                    }
                </select>
            </div>
            @*<div class="form-group">
                <label for="ticketId">Ticket ID:</label>
                <input type="text" class="form-control" id="ticketId" @bind="@ticket.Id" />
            </div>*@
            <div class="form-group">
                <label for="ticketPrice">Ticket Price:</label>
                <input type="number" class="form-control" id="ticketPrice" @bind="@ticket.Price" />
            </div>
            <div class="form-group">
                <label for="seatNumber">Seat Number:</label>
                <input type="number" class="form-control" id="seatNumber" @bind="@ticket.SeatNumber" />
            </div>



            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" @bind="@ticket.FirstName" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" @bind="@ticket.LastName" />
            </div>

            <div class="form-group">
                <label for="arrival">Destination:</label>
                <select class="form-control" @bind="@airportId">
                    @foreach (var airport in airports)
                    {
                        <option value="@airport.Id">@airport.City (@airport.Name)</option>
                    }
                </select>
            </div>

            <button type="button" class="btn btn-primary" @onclick="AddReservation" style="margin-top: 15px">Add Reservation</button>
            <button type="button" class="btn btn-primary" style="margin-top: 15px" @onclick="ChangeToList">Back to the list</button>
        </form>
    }
    else
    {
  
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Reservation</th>
                    <th>Last Name(Ticket)</th>
                    <th>First Name(Ticket)</th>
                    <th>Price (Ticket)</th>
                    <th>Seat Number(Ticket)</th>
                    <th>Download Confirmation</th>
                  
                </tr>
            </thead>
            <tbody>
                @if (reservations == null || userInfo.UserId==0 || userInfo ==null || reservations.getUserReservationResponse==null)
                {
                    <p>No reservations.</p>
                }
                else
                {

                    @foreach (var item in reservations.getUserReservationResponse)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.User.Username</td>
                            <td>@item.Flight.Arrival.City -> @item.Flight.Destination.City (@item.Flight.FlightDate.Date) </td>
                            <td>@item.Tickets.FirstOrDefault().FirstName</td>
                            <td>@item.Tickets.FirstOrDefault().LastName</td>
                            <td>@item.Tickets.FirstOrDefault().Price</td>
                            <td>@item.Tickets.FirstOrDefault().SeatNumber</td>
                            <td>
                                 <button type="button" class="btn btn-secondary" @onclick="() => DownloadConfirmation(item.Id)">Download Confirmation</button>
                            </td>
                        </tr>
                    }

                    <button type="button" class="btn btn-primary" @onclick="ChangeToAdd" style="margin: 10px">Add resrvation</button>
                }

            </tbody>
        </table>

    
    }


}
@code {
    private UserReservationServiceReference.userTickets ticket;
    private UserTicket userTicket = new UserTicket();


    private addUserReservationModel addVM = new addUserReservationModel();


    private UserReservationServiceReference.addUserReservationRequest userReservationReq;

    private bool addReservation = false;
    private int flightId;
    private int airportId;

    FlightController fc = new FlightController();
    FlightServiceReference.flight[] flights =Array.Empty<FlightServiceReference.flight>();

    UserReservationServiceReference.flight flights2;

    GetUserReservationsByUserIdResponse reservations = new GetUserReservationsByUserIdResponse();

    AirportController ac = new AirportController();
    AirportServiceReference.airport[] airports =  Array.Empty<AirportServiceReference.airport>();

    UserReservationController urc = new UserReservationController();

    // addUserReservationRequest userReq = new addUserReservationRequest();

    GetUserReservationsByUserIdRequest userReq = new GetUserReservationsByUserIdRequest();



    protected override async Task OnInitializedAsync()
    {

        flights =  await fc.GetFlights();

        airports = await ac.GetAiports();

        ticket = new UserReservationServiceReference.userTickets();

        userReq.getUserReservationRequest = new UserReservationServiceReference.getUserReservationRequest();
        var test = userReq.getUserReservationRequest;

        if (userReq.getUserReservationRequest != null && userInfo.UserId != 0)
        {
            userReservationReq = new addUserReservationRequest();
            userReq.getUserReservationRequest.userId = userInfo.UserId;
            userReq.getUserReservationRequest.flightId = flightId;
            reservations = await urc.GetUserReservationByUserId(userReq);
            StateHasChanged();

        }
        else
        {
            reservations = null;
            StateHasChanged();
        }


    }

    public void AddReservation()
    {
        var selectedAirport = airports.FirstOrDefault(a => a.Id == airportId);
        var selectedFlight = flights.FirstOrDefault(f=>f.Id==flightId);


        UserReservationServiceReference.flight flightUser;
        UserReservationServiceReference.airport airportUser;

        flightUser = new UserReservationServiceReference.flight {
                Id = selectedFlight.Id,
                // Arrival = selectedFlight.Arrival,
                // Destination = selectedFlight.Destination,
                FlightDate = selectedFlight.FlightDate,
                // Plane = selectedFlight.Plane,
            };

        airportUser = new UserReservationServiceReference.airport
            {
                Id = selectedAirport.Id,
                City = selectedAirport.City,
                Name = selectedAirport.Name,
                Country = selectedAirport.Country
            };

        ticket.Airport = airportUser;
        ticket.Flight = flightUser;

        var userReservationReq = new addUserReservationRequest
        {
            userId= userInfo.UserId,
            flightId=flightId,
            tickets=[ticket]
        };

        urc.AddReservation(userReservationReq);
        addReservation = false;
    }


    public async Task<byte[]> DownloadConfirmation(int id)
    {
        GetReservationConfirmationRequest req = new GetReservationConfirmationRequest();

        req.confirmationRequest = id;

        // await urc.GetReservationConfirmation(req);
        var result = await urc.Test(id);


        var path = Environment.GetFolderPath(Environment.SpecialFolder.Desktop);
        await File.WriteAllBytesAsync(path + "\\confirmation.pdf", result);
        // string fileName = "confirmation.pdf";
        // await JSRuntime.InvokeAsync<object>("saveFile", fileName, result);

        return result;
    }

    // var response = await reservationRepository.GetReservationConfirmation(request);
    
   
    public void ChangeToAdd() => addReservation = true;
    public void ChangeToList() => addReservation = false;

}
