 @page "/userTicket"
@using AirportServiceReference
@using FlightServiceReference
@using WSProjectClient.Controllers
@using PlaneServiceReference
@using AirportServiceReference
@using UserTicketServiceReference

@rendermode InteractiveServer

<PageTitle>Airports</PageTitle>


<h1>Flight</h1>
@{
    if (addFlight)
    {
        <form>
            <div class="form-group">
                <label for="plane">Plane:</label>
                <select class="form-control" id="plane" @bind="@newFlight.planeId">
                    @foreach (var plane in planes)
                    {
                        <option value="@plane.Id">@plane.Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="arrival">Arrival:</label>
                <select class="form-control" id="plane" @bind="@newFlight.arrivalId">
                    @foreach (var airport in airports)
                    {
                        <option value="@airport.Id">@airport.City (@airport.Name)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="arrival">Destination:</label>
                <select class="form-control" id="plane" @bind="@newFlight.destinationId">
                    @foreach (var airport in airports)
                    {
                        <option value="@airport.Id">@airport.City (@airport.Name)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="flightDate">Flight Date:</label>
                <input type="date" class="form-control" id="flightDate" @bind="@newFlight.date" />
            </div>
            <button type="button" class="btn btn-primary" @onclick="AddFlight" style="margin-top: 15px">Add Flight</button>
            <button type="button" class="btn btn-primary" style="margin-top: 15px" @onclick="ChangeToList">Back to the list</button>
        </form>
    }
    else
    {
        <button type="button" class="btn btn-primary" @onclick="ChangeToAdd" style="margin-bottom: 10px">Add a flight</button>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Plane</th>
                    <th>Arrival</th>
                    <th>Destination</th>
                    <th>FlightDate</th>
                </tr>
            </thead>
            <tbody>
                @if (flights == null)
                {
                    <p>Ładowanie...</p>
                }
                else
                {

                    @foreach (var item in flights)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Plane.Type</td>
                            <td>@item.Arrival.City</td>
                            <td>@item.Destination.City</td>
                            <td>@item.FlightDate.Date</td>  
                        </tr>
                    }

                }

            </tbody>
        </table>

    }


}
@code {
    private addFlightRequest newFlight = new addFlightRequest();


    bool addFlight = false;
    string name = "";
    string city = "";
    string country = "";

    FlightController fc = new FlightController();
    FlightServiceReference.flight[] flights;

    PlaneController pc = new PlaneController();
    PlaneServiceReference.plane[] planes;

    AirportController ac = new AirportController();
    AirportServiceReference.airport[] airports;


    UserTicketController uc = new UserTicketController();
    

    protected override async Task OnInitializedAsync()
    {
        UserTicketController utc = new UserTicketController();

        utc.GetTickets();
    }

    public void AddFlight()
    {
        newFlight.date = newFlight.date.Date;
        newFlight.dateSpecified= true;
        fc.AddFlight(newFlight);
        addFlight = false;
    }
    public void ChangeToAdd() => addFlight = true;
    public void ChangeToList() => addFlight = false;
    public void ToggleAddAirport()
    {
        addFlight = !addFlight;
    }
}
