 @page "/userTicket"
@using AirportServiceReference
@using FlightServiceReference
@using WSProjectClient.Controllers
@using PlaneServiceReference
@using AirportServiceReference
@using UserTicketServiceReference

@rendermode InteractiveServer

<PageTitle>Airports</PageTitle>


<h1>Flight</h1>
@{
   
        <button type="button" class="btn btn-primary" @onclick="ChangeToAdd" style="margin-bottom: 10px">Add a flight</button>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Plane</th>
                    <th>Arrival</th>
                    <th>Destination</th>
                    <th>FlightDate</th>
                </tr>
            </thead>
            <tbody>
                @if (tickets == null)
                {
                    <p>Ładowanie...</p>
                }
                else
                {

                    @foreach (var item in tickets)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.Plane.Type</td>
                            <td>@item.Arrival.City</td>
                            <td>@item.Destination.City</td>
                            <td>@item.FlightDate.Date</td>  
                        </tr>
                    }

                }

            </tbody>
        </table>

    


}
@code {
    private addFlightRequest newFlight = new addFlightRequest();


    bool addFlight = false;
    string name = "";
    string city = "";
    string country = "";


    private userTickets[] tickets = Array.Empty<userTickets>();

    UserTicketController uc = new UserTicketController();
    

    protected override async Task OnInitializedAsync()
    {
        UserTicketController utc = new UserTicketController();

        tickets= await utc.GetTickets();
    }


    public void ChangeToAdd() => addFlight = true;
    public void ChangeToList() => addFlight = false;
    public void ToggleAddAirport()
    {
        addFlight = !addFlight;
    }
}
